<div class="tabs-member-container">
  <ngb-tabset class="tabs" [destroyOnHide]="true">
    <ngb-tab title="Manage Categories">
      <ng-template ngbTabContent>
        <div class="tab tab-notifications">
          <div class="tab tab-categories">
            <div class="loading-box" *ngIf="loading">
              <div class="img" alt="loading"></div>
            </div>
            <div class="scroll-panel small" *ngIf="!loading">
              <div class="body-panel" [perfectScrollbar]="{}">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-6 col-sm-12">
                      <div class="items">
                        <div class="item" *ngFor="let item of categories; let i = index">
                          <label [for]="'customized-select-'+i">
                            <input [id]="'customized-select-'+i" type="checkbox" [(ngModel)]="item.selected">
                            <i class="icon icon-checkbox" [ngClass]="{'checked': item.selected}"></i>
                          </label>
                          <span>{{item.name}}</span>
                        </div>
                        <app-add-new (click)="addNewCategory()"><span i18n>Add New</span></app-add-new>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer-panel">
                <div class="footer-buttons">
                  <a class="btn btn-link" [class.disabled]="getCategoriesSelectedCount() === 0" (click)="deleteCategory()" i18n>Delete</a>
                  <a class="btn btn-secondary" [class.disabled]="getCategoriesSelectedCount()!==1"
                      (click)="editSelectedCategory()"
                      i18n>Edit</a>
                  <button class="btn btn-primary" i18n>Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
