<div class="content-wrap all-products">
    <div class="title">
      <span i18n>{{asModal?'Products':'Manage Products'}}</span>
    </div>
    <!--end .title-->
    <div class="scroll-panel">
      <div class="body-panel" [perfectScrollbar]="{}" [class.modal-body-panel]="asModal">
        <div class="loading-box" *ngIf="loading">
          <div class="img" alt="loading"></div>
        </div>
        <div class="all-product-table">
          <table id="producttable" class="table table-striped table-bordered nowrap" style="width:100%">
              <thead>
                  <tr>
                      <th>NAME</th>
                      <th>DESCRIPTION</th>
                      <th>STORE</th>
                      <th>CATEGORY</th>
                      <th width="7%">PRICE</th>
                      <th>SELLING PRICE</th>
                      <th width="5%">UNITS</th>
                      <th width="10%">ACTIONS</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let product of allProducts; let i = index">
                      <td>{{ product['product'].name }}</td>
                      <td>{{ product['product'].description }}</td>
                      <td>{{ product['storeName'] }}</td>
                      <td>{{ product['categoryName'] }}</td>
                      <td>{{ product['product'].price }}</td>
                      <td>{{ product['product'].sellingPrice }}</td>
                      <td>{{ product['product'].unitsInStock }}</td>
                      <td style="text-align: center">
                          <button style="background-color: transparent"><i class="fa fa-edit" (click)="addOrEditProduct(product)"></i></button>
                          &nbsp;
                          <button style="background-color: transparent"><i class="fa fa-trash" (click)="deleteProduct(product)"></i></button>
                      </td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
      <div class="footer-panel" *ngIf="!asModal">
        <div class="footer-area">
          <app-add-new (click)="addOrEditProduct()" *ngIf="!asModal"><span i18n>Add New Product</span></app-add-new>
        </div>
      </div>
    </div>
</div>
