<div class="content-wrap all-products">
    <div class="title">
      <span i18n>{{asModal?'Products':'Manage Products'}}</span>
      <input type="search" class="input-ctrl search-ctrl" placeholder="Search" [(ngModel)]="filterStr"
             (keyup)='updateFilter()'/>

    </div>
    <!--end .title-->

    <div class="scroll-panel">
      <div class="body-panel" [perfectScrollbar]="{}" [class.modal-body-panel]="asModal">
        <div class="loading-box" *ngIf="loading">
          <div class="img" alt="loading"></div>
        </div>
        <div class="filter-container" [ngClass]="{'filter-hide':!filterShow}">
          <div class="header">
            <i class="icon icon-filter" (click)="filterShow=!filterShow" [ngClass]="{'checked':!filterShow}"></i>
            <span i18n>Filters</span>
          </div>
          <div class="filter-option" *ngFor="let item of filterColumns;let i = index"
               (click)="item.selected=!item.selected;updateFilter()">
            <i class="icon icon-checkbox" [ngClass]="{'checked':item.selected}"></i>
            <span>{{item.name}}</span>
          </div>
        </div>
        <div class="all-product-table">
          <ngx-datatable *ngIf="tableVisible" #producttable [rows]="allProducts" [columnMode]="'force'" rowHeight="40"
                         footerHeight="56" [selected]="selected" [selectionType]="'checkbox'" (select)="onSelect($event)"
                         [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                         [limit]="page.size" (page)='setPage($event)'>
            <ngx-datatable-column prop="id" [width]="41" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                                  [resizeable]="false">
              <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                           let-selectFn="selectFn">
                <label [for]="'all-product-header' + (asModal?'-modal':'')" class="checkbox-wrap">
                  <input [id]="'all-product-header' + (asModal?'-modal':'')" type="checkbox" [checked]="allRowsSelected"
                         (change)="selectFn(!allRowsSelected)"/>
                  <i class="icon icon-checkbox" [ngClass]="{'checked':allRowsSelected}"></i>
                </label>
              </ng-template>
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-isSelected="isSelected"
                           let-i="index"
                           let-onCheckboxChangeFn="onCheckboxChangeFn">
                <label [for]="'all-product-'+row.productId + (asModal?'-modal':'')" class="checkbox-wrap">
                  <input [id]="'all-product-'+row.productId + (asModal?'-modal':'')" type="checkbox" [checked]="isSelected"
                         (change)="onCheckboxChangeFn($event)">
                  <i class="icon icon-checkbox" [ngClass]="{'checked':isSelected}"></i>
                </label>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column *ngIf="filterColumns[0].selected" name="NAME" prop='name'>
            </ngx-datatable-column>
            <ngx-datatable-column *ngIf="filterColumns[1].selected" name="TYPE" prop='type'>
            </ngx-datatable-column>
            <ngx-datatable-column *ngIf="filterColumns[2].selected" name="STYLE" prop='style'>
            </ngx-datatable-column>
            <ngx-datatable-column *ngIf="filterColumns[3].selected" name="CATEGORY" prop='category'>
            </ngx-datatable-column>
            <ngx-datatable-column *ngIf="filterColumns[4].selected" name="PRICE (USD)" prop='price'>
            </ngx-datatable-column>
          </ngx-datatable>
          <!--end ngx-datatable-->
          <app-add-new (click)="addOrEditProduct()" *ngIf="!asModal"><span i18n>Add New Product</span></app-add-new>
        </div>
      </div>
      <!-- end .view-all-user-table-section -->

      <div class="footer-panel" *ngIf="!asModal">
        <div class="footer-buttons">
          <a class="btn btn-link" [class.disabled]="!selected.length" (click)="delete()" i18n>Delete</a>
          <a class="btn btn-secondary" [class.disabled]="selected.length!==1"
             (click)="selected.length > 0 && addOrEditProduct(selected[0])"
             i18n>Edit</a>
        </div>
      </div>
    </div>
  <!-- end .footer -->
</div>
