<div class="dashboard-overview" [perfectScrollbar]="{}">
  <div class="loading-box" *ngIf="loading">
    <div class="img" alt="loading"></div>
  </div>
  <div *ngIf="!loading" class="container-fluid">
    <div class="row">
      <div class="col-lg-12 welcome-area">
        <h4>Welcome <span style="font-style: italic; font-weight: bold"> {{ admin.fullname }}</span></h4>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-lg-3 daily-status-section">
        <div class="chart-card daily-status">
          <div class="info-box">
            <span class="info-box-icon bg-red-active">
              <i class="fa fa-cubes"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Products</span>
              <hr>
              <span class="info-box-number"><h3>{{ products.length }}</h3></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 daily-status-section">
        <div class="chart-card daily-status">
          <div class="info-box">
            <span class="info-box-icon bg-red-active">
              <i class="ion ion-ios-home"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Stores</span>
              <hr>
              <span class="info-box-number"><h3>{{ stores.length }}</h3></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 daily-status-section">
        <div class="chart-card daily-status">
          <div class="info-box">
            <span class="info-box-icon bg-red-active">
              <i class="icon icon-members-privileges"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Users</span>
              <hr>
              <span class="info-box-number"><h3>{{ 0 }}</h3></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 daily-status-section">
        <div class="chart-card daily-status">
          <div class="info-box">
            <span class="info-box-icon bg-red-active">
              <i class="fa fa-list"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">Categories</span>
              <hr>
              <span class="info-box-number"><h3>{{ categories.length }}</h3></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 chart-card assets-manufacture">
        <div class="chart-card-title" i18n>Products by Categories</div>
        <div class="chart-container last">
          <!-- <img src="assets/chart-images/pie-chart.svg"> -->
          <div style="display: block">
            <canvas mdbChart
                [chartType]="chartType"
                [datasets]="chartDatasets"
                [labels]="chartLabels"
                [colors]="chartColors"
                [options]="chartOptions"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
        <div class="vertical-legend">
          <div class="legend-header">
            <span>Category</span>
            <span>Count</span>
          </div>
          <div class="legend-row" *ngFor="let chartLabel of chartLabels; let i = index">
            <!-- <div class="legend-indicator orange"></div> -->
            <div class="legend-label">{{ chartLabel }}</div>
            <div class="pill-box">{{ chartDatasets[0].data[i] }}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 chart-card assets-manufacture">
        <app-chart [dataList] = "dataList['Performance Summary']"></app-chart>
      </div>
    </div>
  </div>
</div>
