@import 'mixin';
.modal-container {
  .modal-header {
    font-size: 18px;
    .close {
      outline: none;
    }
  }
  .modal-body {
    display: flex;
    flex-direction: column;
    padding: 24px;
    span {
      color: $gray;
      font-size: 14px;
    }
    .name-input {
      @include input-default();
      margin-top: 10px;
      width: 100%;
    }
  }
  .modal-footer {
    border: none;
    .btn.btn-save {
      @include button-default(white, black, black, 192px);
      width: 50%;
    }
    .btn.btn-delete {
      @include button-default(black, white, white, 192px);
      width: 50%;
    }
  }
}



.large-3 {
  position: relative;
  width: 25%;
}

.columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 40%;
  float: left;
}

.fsp-drop-pane__container {
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 1px;
  background-color: #EEEEEE;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 222px;
  border-radius: 1px;
  border: 2px dashed #BDBDBD;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.fsp-drop-pane__container img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: block; }

.fsp-drop-pane__container--active {
  background-color: #F3F3F3;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.fsp-drop-pane__drop-zone {
  position: absolute;
  background: none;
  top: 10;
  left: 20;
  right: 0;
  bottom: 0;
  z-index: 2147483646;
}
.fsp-drop-pane__overlay {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2147483647;
  background: rgba(184,184,184,0.6);
  padding: 30px;
}
.fsp-drop-pane__overlay-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  border: 4px dashed #FFFFFF;
  pointer-events: none;
}
.fsp-drop-pane__icon {
  width: 44px;
  height: 58px;
  padding: 10px;
  background-image: url(../../../../../assets/images/icon-add-files-white.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.fsp-drop-pane__icon--active {
  background-image: url(../../../../../assets/images/icon-add-files-white.png);
}
.fsp-drop-pane__text {
  font-weight: 400;
  font-size: 0.95em;
  color: #2D2D2D;
}
