<div class="tabs-dashboard-container">
  <ngb-tabset class="tabs" [destroyOnHide]="true">
    <ngb-tab title="Overview">
      <ng-template ngbTabContent>
        <div class="tab tab-overview">
          <app-dashboard-overview></app-dashboard-overview>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Workspace">
      <ng-template ngbTabContent>
        <div class="tab tab-workspace">
            <app-dashboard-workspace></app-dashboard-workspace>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
